.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
  }
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }

  .Homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    background-color: orange;
  }
  
  .Homepage h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .Homepage h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .Homepage .HomeCard {
    width: 100%;
    margin-bottom: 20px;
  }

  .HomeCard {
    background-color: orange;
    border-radius: 10px;
    border: black solid 1px;
    padding: 1 rem;
    box-shadow: 3px 4px gray;
  }
  


  
  
  
  
  